@font-face {
  font-family: 'BIZUDP';
  src: url(./fonts/BIZUDP-Regular.ttf);
}
/* Tooltip container styling */
.tooltip {
  position: relative; 
  display: inline-block; 
}


.tooltip .tooltiptext {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.75); 
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.9rem;
  white-space: nowrap;
  opacity: 0; 
  visibility: hidden; 
  transition: opacity 0.3s ease, visibility 0.3s ease; 
  z-index: 10;
}

.tooltip-image:hover + .tooltip .tooltiptext {
  opacity: 1; 
  visibility: visible; 
}

.tooltip-image {
  width: 25%;
  position: absolute;
  top: -50%;
  right: 4%;
}



h1 {
  top: 0;
  left: 0;
  z-index: 1000;
  margin: 0;
  padding: 20px 20px 5px 20px;
  font-family: 'BIZUDP', Arial, sans-serif;
  font-weight: 400;
  font-size: 9rem;
  color: #391a1b;
  transition: color 0.5s ease;
}

h2 {
  top: 0;
  left: 0;
  z-index: 1000;
  margin: 0;
  padding: 0px 20px 20px 20px;
  font-family: 'BIZUDP', Arial, sans-serif;
  font-weight: 400;
  font-size: 4rem;
  color: #391a1b;
  transition: color 0.5s ease; 
}

h3 {
  top: 0;
  left: 0;
  z-index: 1000;
  margin: 0;
  padding: 0px 20px 20px 20px;
  font-family: 'BIZUDP', Arial, sans-serif;
  font-weight: 400;
  font-size: 1.7rem;
  color: #391a1b;
  transition: color 0.5s ease; 
}




.plant-page2 {
  background-color: #fbf6f1;
  font-family: 'BIZUDP';
  cursor: url('/project-3/images/shovel2.png'), pointer !important;

}

header {
  background-color: #828650;
  width: 100%;
  position: relative;
  height: 100px;
}

header img {
  width: 25%;
  position: absolute;
  top: -50%;
  right: 4%;
}

main {
  padding: 7%;
}

main h1 {
  font-size: 6rem;
}

main h3 {
  margin: 1% 0;
  letter-spacing: 6px;
  font-size: 2rem;
}

main img {
  background-color: #ffffff;
  width: 100%;
  padding: 8% 0%;
  border-radius: 40px;
  border: 4px dashed #828650; 
  grid-row: span 4;
}

main p, .instructions2 {
  background-color: #ffffff;
  
  padding: 2%;
  border-radius: 20px;
  border: 4px dashed #828650; 
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 4em;
}

.instructions2 {
  grid-row: span 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.instructions2 h2 {
  font-size: 2rem;
  align-self: flex-start;
  margin-left: 2%;
}

.instructions2 ul {
  width: 85%;
}


.instructions2 li {
  margin-bottom: 2%;
}

#customers {
  border-collapse: collapse;
  width: 100%;
  font-family: 'BIZUDP';
  margin: 5vw;
  width: 50%;
  align-items: center;
  justify-content: center;
  margin-left: 25%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

.inner {
  cursor: url(/project-3/images/gloves2.png), pointer;
}

table h1 {
  font-size: 6rem;
  padding: 104px 0px 0px 100px;

}


.background-image {
  position: absolute;
  z-index: -1; 
  top: 40%; 
  left: 50%;
  transform: translate(-50%, -50%) rotate(-5deg);
  width: 80vh; 
  opacity: 0.2; 
}
